[Unit]
Description=Camera streamer for OctoPrint
After=network-online.target OctoPrint.service
Wants=network-online.target

[Service]
Type=simple
User=octopi
ExecStart=/home/octopi/scripts/webcamDaemon

[Install]
WantedBy=multi-user.target